.hmm{
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 17px;
    padding-left: 17px;
    width: 300px;
    color: grey;
    border-radius: 90px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}