
            p{
                font-family: roboto;
            }
            
            .para-1{
                font-weight: bold;
                font-size: 20px;
                width: 320px;
                line-height: 25px;
                margin-bottom: 7px;
            }
            .para-2{
                 font-size: 16px;
                 color: rgb(96, 96, 96); 
                 margin-top: 0;
            }
            .para-3{
                font-size: 16px;
                color: rgb(96,96,96);
                margin-top: 20px;
            }
            .para-4{
                font-size: 16px;
                color: rgb(96, 96, 96);
                margin-top: 20px;
                width: 320px;
                line-height: 23px;
                margin-bottom: 100px;
            }
            .para-5{
                font-size: 16px;
                background-color: rgb(227,65,64);
                color: white;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .shop_now:hover{
                text-decoration: underline;
            }
            .shop_now{
                cursor: pointer;
            }
        
